---
layout: default
title: 博客归档
permalink: /archive/
header-img: "img/bg/output9.jpg"
---


<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" id="tag-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>


<!-- Main Content -->
<div class="container">
    <div class="row">
      {% for post in site.posts %}
        {% capture currentyear %}{{post.date | date: "%Y"}}{% endcapture %}
        {% if currentyear != year %}
            {% unless forloop.first %}</ul>{% endunless %}
        <span class="year-text">{{ currentyear }}</span>
                <ul class="posts">
                {% capture year %}{{currentyear}}{% endcapture %}
            {% endif %}
                    <div class="one-tag-list">
                        <li>
                            <div class="post-preview">
                                <a href="{{ post.url | prepend: site.baseurl }}">
                                    <h2 class="post-title">
                                        {{ post.title }}
                                    </h2>
                                </a>
                                <p class="post-meta">{{ post.date | date:"%Y-%m-%d" }}</p>
                            </div>
                            <hr>
                        </li>
                    </div>
        {% if forloop.last %}</ul>{% endif %}
    {% endfor %}
    </div>
</div>
